.devices-services {
  &__description-continue-button {
    display: flex;
    align-items: center;
    font-family: var(--font-family-base);
    font-size: large;
    font-weight: 500;
    opacity: 1;
    border: none;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 38px;
    font-size: 16px;

    :hover {
      opacity: 0.5;
      cursor: pointer;
    }

    img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__container {
    margin: 0 16px;
    margin-top: 16px;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 240px;
    height: 160px;
    padding: 15px 13px;
    border: 2px solid var(--color-gray);
    border-radius: 7px;
    background-color: var(--color-pure-white);
    transition: opacity 0.3s, height 0.3s;

    span {
      align-self: flex-start;
    }

    button {
      align-self: flex-end;
    }
  }
}

.devices-services__description-continue-button.show-less img {
  transform: rotate(180deg);
}

.devices-services__description-continue-button.show-less span {
  display: none;
}

.devices-services__description-continue-button.show-less::after {
  content: 'Скрыть';
  display: flex;
}

@media (min-width: 320px) and (max-width: 768px) {
  .devices-services {
    &__description-continue-button {
      display: none;
    }

    &__headline {
      position: relative;

      ::after {
        content: '';
        position: absolute;
        top: 149%;
        height: 351%;
        right: 0;
        width: 100px;
        background: linear-gradient(
          to right,
          rgba(248, 248, 248, 0),
          rgba(248, 248, 248, 1)
        );
        pointer-events: none;
        z-index: 2;
      }
    }
  }
}

@media (min-width: 768px) {
  .devices-services {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__slide {
      width: 229px;
      margin: 8px;
    }
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .devices-services__slide:nth-child(n + 4) {
    display: none;
  }
}

@media (min-width: 1000px) {
  .devices-services__slide:nth-child(n + 5) {
    display: none;
  }
}

@media (min-width: 1366px) {
  .devices-services__slide {
    width: 255px;
  }
}
